@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins, sans-serif;
}

// COLORS

$font-color: #e5e5e5;
$card-background: #000000a4;
$element-background: #000000;

// MIXINS

@mixin center_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}